{{ 'custom-home_values.css' | asset_url | stylesheet_tag }}

<div
  class="custom-home_values-container"
>
  <div class="page-width custom-home_values-inner">
    <h2 class="section-heading custom-home_values-heading">{{ section.settings.section_heading }}</h2>
    <div class="custom-home_values-item-container">
      {% for block in section.blocks %}
        {% if block.settings.icon and block.settings.title %}
          <div class="custom-home_values-item">
            <img
              src="{{ block.settings.icon | image_url }}"
              alt="{{ block.settings.title }}"
              class="custom-home_values-icon"
            >
            <p class="custom-home_values-title">{{ block.settings.title }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Home Values",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading"
    }
  ],
  "blocks": [
    {
      "type": "value",
      "name": "Value",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Home Values"
    }
  ]
}
{% endschema %}
