{{ 'custom-images-grid_carousal.css' | asset_url | stylesheet_tag }}

<div
  class="custom-images-grid_carousal-container"
  data-section-id="{{ section.id }}"
  data-default-language="{{ section.settings.default_language }}"
  style="--images-per-view: {{ section.settings.images_per_view }};"
>
  {% for block in section.blocks %}
    {% if block.settings.desktop_image and block.settings.mobile_image %}
      <img
        src="{{ block.settings.desktop_image | image_url }}"
        alt="{{ block.settings.desktop_image.alt | escape }}"
        class="custom-images-grid_carousal-desktop-image"
      >
      <img
        src="{{ block.settings.mobile_image | image_url  }}"
        alt="{{ block.settings.mobile_image.alt | escape }}"
        class="custom-images-grid_carousal-mobile-image"
      >
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Custom Image Carousel",
  "settings": [
    {
      "type": "range",
      "id": "images_per_view",
      "label": "Images per row (desktop)",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Image Carousel"
    }
  ]
}
{% endschema %}
